@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@1,100..900&display=swap');


:root{
    --beige: #fbeec4;
    --black-olive: #002c43;
    --outer-space: #526b63;
    --bronze: #D67B35;
    --garnet: #9B2226;
    --font-urbanist: "Urbanist", sans-serif;
}

*{
    padding: 0%;
    margin: 0%;
}

/* ===================================================================
 * # ¿QUE ES UN ENCRIPTADOR DE TEXTO?
 *==================================================================*/

body{
    box-sizing: border-box;
    background-color: var(--black-olive)
}


/* ------------------------------------------------------------------- 
 * header
 * ------------------------------------------------------------------- */ 

.header{
    padding: 0% 0% 0% 0%;
    font-family: var(--font-urbanist);
    color: var(--beige);
    background-color: var(--garnet);
}

.header__nav{
    padding: 2rem;
    display: flex;
    justify-content: center;
    gap: 5%;
    
}

.head__nav_link{
    font-size: 1rem;
    font-weight: 100%;
    text-decoration: none;
}



/* ------------------------------------------------------------------- 
 * main
 * ------------------------------------------------------------------- */ 
.main{
    background-color: var(--black-olive);
    color: var(--beige);
    font-family: var(--font-urbanist);
    font-size: 1rem;
}

.section{
    display: flex;
    justify-content: center;
}


.main__div_encriptador{
    font-size: 2rem;
    text-align:left;
    padding:3%;
    margin: 0%;
    gap: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

.main__div_desencriptador{
    font-size: 2rem;
    text-align:left;
    padding:3%;
    margin: 0%;
    gap: 3%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.main__div_input{
    box-sizing: border-box;
    height: 250px;
    width: 100%;
    padding: 12px 15px;
    background-color: var(--outer-space);
    color: var(--beige);
    font-family: var(--font-urbanist);
    font-size: 1rem;
    border-radius: 24px;
    border:none;
    border-bottom: 7px solid var(--bronze);
    -webkit-transition: 0.5s;
    transition: 1s;
    resize: none;
    outline: none;
}


.main_div_letraspermitidas{
    font-size: 1rem;
}

.main__div_buttons{
    display: flex;
    justify-content: center;
}

.main__div_buttonEncriptar{
    box-sizing: border-box;
    background-color: var(--bronze);
    color: var(--black-olive);
    padding: 23px 50px;
    margin: 10px;
    font-family: var(--font-urbanist);
    font-weight: 600;
    border-radius: 24px;
    text-align: center;

}

.main__div_buttonDesencriptar{
    box-sizing: border-box;
    background-color: var(--bronze);
    color: var(--black-olive);
    padding: 23px 50px;
    margin: 10px;
    font-family: "Urbanist", sans-serif;
    font-weight: 600;
    border-radius: 24px;
    text-align: center;
}
/* ------------------------------------------------------------------- 
 * FOOTER
 * ------------------------------------------------------------------- */ 

.main__div_final{
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 10%;
}

.footer__proyecto{
    background-color: #BD2D28;
    padding: 1.5rem;
    font-size: 1rem;
    font-family: var(--font-urbanist);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

.footer__proyecto_imagen{
    width: 3rem;
}

/* ===================================================================
 * # ¿QUE ES UN ENCRIPTADOR DE TEXTO?
 *==================================================================*/

/* ------------------------------------------------------------------- 
 * MAIN:
 * ------------------------------------------------------------------- */ 
.main_div_explicacion{
    display: flex;
    flex-direction: column;
    padding: 10%;
    font-size: 1.5rem;
    margin-bottom: 40%;

}

.footer__proyecto{
    background-color: #BD2D28;
    padding: 1.5rem;
    font-size: 1rem;
    font-family: var(--font-urbanist);
    color: var(--beige);
    text-align: center;
    text-decoration: none;
}

/* ===================================================================
 * # ¿PARA QUE SRIVE UN ENCRIPTADOR DE TEXTO?
 *==================================================================*/

/*--------------------------------------------
    *RESPONSIVE
---------------------------------------------*/    

@media(max-width:650px){
    .header{
        background-color: var(--garnet);
        padding: 5%;
    }

    .section{
        flex-direction: column;
    }

    .main__div_input{
        height: 8rem;
    }

    .main__div_buttons{
        flex-direction: column;
    }

}
